name: workflow.yml
on:
  push:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Build with Immutables 2.11.2
        run: mvn clean verify -Dimmutables.version='2.11.2'
        continue-on-error: true
      - name: Build with Immutables 2.11.3
        run: mvn clean verify -Dimmutables.version='2.11.3'
        continue-on-error: true
      - name: Build with Immutables 2.12.1
        run: mvn clean verify -Dimmutables.version='2.12.1'
        continue-on-error: true
